#mainHolder{
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.decorationLines {
  stroke: #808285;
  stroke-width: 0.3;
  border: 1px solid;
}

.button p {
  font-family: 'Cocogoose Regular';
  font-size: 21px;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  margin: 0px;
  color: #d0c6afbb;
}

.infoText p {
  font-family: 'Roboto Regular';
  font-size: 18px;
  margin: 0px;
  color: #d0c6af;
}

.infoText h1 {
  font-family: 'Roboto Medium';
  font-size: 25px;
  margin: 0px;
  color: #d0c6af;
}